<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>test</title>

    <script type="text/css " src="..\js\menu.js "></script>
    <script src="../js/jquery.min.js "></script>
    <script src="../js/util.js "></script>
    <script src="../js/jquery.validate.min.js "></script>
    <script src="../js/messages_zh_TW.min.js "></script>
    <base th:href="@{/}">
    <link rel="stylesheet " href="../static/css/output.css ">
    <link rel="stylesheet " href="/css/output.css ">
</head>

<body>

    <th>帳號</th>
    <th>密碼</th>

    <tbody>
        <tr th:each=" user  : ${alluser}">
            <th th:text="${user.name}"></th>
            <th th:text="${user.password}"></th>
        </tr>
    </tbody>

</body>

</html>