<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <style>
        .ui.button {
            margin: 0 1.8em 0 0;
            padding: 0.98em 2.5em 0.98em;
        }
    </style>

</head>

<body>
<div id="menu"></div>
<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '../../top_menu.html', true);
    xhr.onreadystatechange = function(){
        if (this.readyState !== 4) return;
        if (this.status !== 200) return; // or whatever error handling you want
        document.getElementById('menu').innerHTML = this.responseText;
    };
    xhr.send();
</script>

    <div class="ui text container grid">
        <!--/*@thymesVar id="storeProduct" type="java"*/-->
        <form class="pure-form pure-form-stacked  two column grid  " action="#" th:action="@{/product/add}" th:object="${storeProductEntity}" th:method="${_method}">
            <legend>
                <h1>新增產品</h1>
            </legend>
            <label for="productName">產品名稱</label>
            <input th:filed="*{productName}" type="text" name="productName" placeholder="產品名稱" />
            <label for="amount">價格</label>
            <input th:filed="*{amount}" type="text" name="amount" placeholder="價格" />
            <label for="quantity">數量</label>
            <input th:filed="*{quantity}" type="text" name="quantity" placeholder="數量" />
            <fieldset class="pure-group">
                <label for="describe">介紹</label>
                <textarea th:filed="*{describe}" name="describe" class="pure-input-1-2" placeholder="Textareas work too"></textarea>
            </fieldset>

            <label for="stacked-state">類型</label>
            <select name="type">
            <option value="">請選擇商品類型</option>
            <option th:each="type : ${type}" th:value="${type}" th:text="${type}"></option>
            </select>
            <div class="ui toggle checkbox">
                <input th:checked="*{hide}" type="checkbox" name="hide">
                <label>是否發布(出現藍色是發佈)</label>
            </div>



            <div>
                <button type="submit" class="ui blue approve button">下一步</button>
                <div class="ui red cancel button">
                    <i class="close icon"></i> 取消
                </div>
            </div>

        </form>
    </div>

</body>

</html>