<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">


    <style>
        .ui.text.container {
            margin-top: 75px;
        }
        
        .ui.mini.modal>.header:not(.ui) {
            font-size: 1.8em;
        }
        
        .ui.table thead th {
            text-align: center;
        }

        .column{
         text-align: center;
         }

    </style>

</head>

<body>
<div th:replace="@{~/top_menu.html}"></div>

<div class="ui mini modal" id="gfgmodal">
    <div class="header" style="padding-left: 125px;">
        新增產品
    </div>
    <form class="pure-form pure-form-stacked  two column grid  " action="#" th:action="@{/product/add}"
          th:object="${storeProductEntity}" th:method="${_method}"
          style="padding-bottom: 15px;width: 330px;padding-left: 65px;">
        <label for="productName" style=" padding-top: 12px;padding-bottom: 5px;">產品名稱</label>
        <input th:filed="*{productName}" type="text" name="productName" placeholder="產品名稱"
               style="width: 218.4px; "/>
        <label for="amount" style=" padding-top: 12px;padding-bottom: 5px;">價格</label>
        <input th:filed="*{amount}" type="text" name="amount" placeholder="價格" style="width: 218.4px; "/>
        <label for="quantity" style=" padding-top: 12px;padding-bottom: 5px;">數量</label>
        <input th:filed="*{quantity}" type="text" name="quantity" placeholder="數量" style="width: 218.4px; "/>
        <fieldset class="pure-group">
            <label for="describe" style=" padding-top: 12px;padding-bottom: 5px;">介紹</label>
            <textarea th:filed="*{describe}" name="describe" class="pure-input-1-2" placeholder="Textareas work too"
                      style="width: 235px; height: 213px;"></textarea>
        </fieldset>

        <label for="stacked-state" style="padding-top: 8px;">類型</label>
        <select name="type">
            <option value="">請選擇商品類型</option>
            <option th:each="type : ${type}" th:value="${type}" th:text="${type}" style="width: 218.4px; "></option>
        </select>
        <div class="ui toggle checkbox" style="width: 243px;margin-top: 5.500;margin-top: 10px;">
            <input th:checked="*{hide}" type="checkbox" name="hide">
            <label>是否發布(出現藍色是發佈)</label>
        </div>

        <div class="actions container" style="padding-top: 15px;">
            <button type="submit" class="ui blue approve button">下一步</button>
            <div class="ui red cancel button" style=" margin-left: 35px;">
                <i class="close icon"></i> 取消
            </div>
        </div>
    </form>
</div>

<script>
        const openModal = () => {
            $('#gfgmodal').modal('show')
        }


</script>


<div class="ui text container " style=" padding-bottom: 30px;">
    <table class="ui ten column table">
        <thead>
        <tr>
            <button class="ui button green" onclick="openModal()" style=" margin-right: 00px;margin-bottom: 10px;">
                新增產品
            </button>
            </th>
        </tr>
        <tr class="column ">
            <th>序號</th>
            <th>商品名</th>
            <th>類型</th>
            <th>金額</th>
            <th>數量</th>
            <th>隱藏</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
        </thead>
        <tbody class="text-align: center;">
        <tr th:each="product, state : ${productList}">
            <td th:text="${state.index} +1"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.type_}"></td>
            <td th:text="${product.amount}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.hide}"></td>


            <td>
                <button class="ui button blue" style="width: 72px;" data-id-th="${product.productId}"
                        data-productName-th="${product.productName}" onclick="openUpdate(this)">編輯
                </button>
            </td>

            <td><a style="width: 72px;" th:href="@{/product/hide/{productId} (productId=${product.productId})}"
                   class="ui button red">刪除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<!--  編輯按鈕 -->
<!-- <script>
    const = (exampleValue) => {
        $('#update').modal('show');
        $('#update').val('exampleValue');
    }
</script> -->

<div class="ui mini modal" id="gfgmodal">
    <div class="ui mini modal" id="update">
        <div class="header" style="padding-left: 125px;">
            產品更改
        </div>
        <form class="pure-form pure-form-stacked  two column grid  " action="#" th:action="@{/product/add}"
              th:object="${storeProductEntity}" th:method="${_method}"
              style="padding-bottom: 15px;width: 330px;padding-left: 65px;">
            <label for="updateProductName" style=" padding-top: 12px;padding-bottom: 5px;">產品名稱</label>
            <input th:filed="updateProductName" type="text" name="updateProductName" placeholder="產品名稱"
                   style="width: 218.4px; "/>
            <!-- <label for="amount" style=" padding-top: 12px;padding-bottom: 5px;">價格</label>
            <input th:filed="*{amount}" type="text" name="amount" placeholder="價格" style="width: 218.4px; " />
            <label for="quantity" style=" padding-top: 12px;padding-bottom: 5px;">數量</label>
            <input th:filed="*{quantity}" type="text" name="quantity" placeholder="數量" style="width: 218.4px; " />
            <fieldset class="pure-group">
                <label for="describe" style=" padding-top: 12px;padding-bottom: 5px;">介紹</label>
                <textarea th:filed="*{describe}" name="describe" class="pure-input-1-2" placeholder="Textareas work too" style="width: 235px; height: 213px;"></textarea>
            </fieldset>

            <label for="stacked-state" style="padding-top: 8px;">類型</label>
            <select name="type">
<option value="">請選擇商品類型</option>
<option th:each="type : ${type}" th:value="${type}" th:text="${type}" style="width: 218.4px; "></option>
</select>
            <div class="ui toggle checkbox" style="width: 243px;margin-top: 5.500;margin-top: 10px;">
                <input th:checked="*{hide}" type="checkbox" name="hide">
                <label>是否發布(出現藍色是發佈)</label>
            </div> -->

            <div class="actions container" style="padding-top: 15px;">
                <button type="submit" class="ui blue approve button">下一步</button>
                <div class="ui red cancel button" style=" margin-left: 35px;">
                    <i class="close icon"></i> 取消
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
        function openUpdate(button) {
            // 获取对应商品的参数
            var id = button.getAttribute("data-id-th");
            var id = button.getAttribute("data-id-th");
            var updateProductName = button.getAttribute("data-productName-th");

            // 将参数填入表单中
            document.getElementById("updateProductName").value = updateProductName;


            // 打开弹跳视窗
            $('#update').modal('show');
        }


</script>
</body>

</html>