<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springdemo.dao.mapper.StoreProductMapper">

    <resultMap id="BaseResultMap" type="com.example.springdemo.dao.domain.StoreProduct">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="type_" column="type_" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="describe_" column="describe_" jdbcType="VARCHAR"/>
        <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="hide" column="hide" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,admin_id,product_id,
        product_name,type_,amount,
        quantity,describe_,creat_time,
        status,hide,remark,
        update_time
    </sql>
    <update id="updateProduct">
        update store_product
        <set>
            <if test="productName != null">product_name = #{productName,jdbcType=VARCHAR}</if>
            <if test="type_ != null">type_ = #{type_,jdbcType=VARCHAR}</if>
            <if test="amount != null">amount = #{amount,jdbcType=INTEGER}</if>
            <if test="quantity != null">quantity = #{quantity,jdbcType=INTEGER}</if>
            <if test="describe_ != null">describe_ = #{describe_,jdbcType=VARCHAR}</if>
            <if test="creatTime != null">creat_time = #{creatTime,jdbcType=TIMESTAMP}</if>
            <if test="status != null">status = #{status,jdbcType=INTEGER}</if>
            <if test="hide != null">hide = #{hide,jdbcType=INTEGER}</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR}</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
        </set>
        <where>
            <if test="productId != null">product_id = #{productId,jdbcType=NUMERIC}</if>
        </where>
    </update>


    <select id="selectByAdminIdStoreProduct" resultType="com.example.springdemo.dao.domain.StoreProduct">
        select
        <include refid="Base_Column_List"></include>
            from hs_user
        <where>
            <if test="adminId != null">admin_id = #{adminId,jdbcType=NUMERIC}</if>
        </where>
    </select>
    <insert id="insertSelective">
        insert into store_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="adminId != null">admin_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="type_ != null">type_,</if>
            <if test="amount != null">amount,</if>
            <if test="quantity != null">quantity,</if>
            <if test="describe_ != null">describe_,</if>
            <if test="creatTime != null">creat_time,</if>
            <if test="status != null">status,</if>
            <if test="hide != null">hide,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="adminId != null">#{adminId,jdbcType=INTEGER},</if>
            <if test="productId != null">#{productId,jdbcType=INTEGER},</if>
            <if test="productName != null">#{productName,jdbcType=VARCHAR},</if>
            <if test="type_ != null">#{type_,jdbcType=VARCHAR},</if>
            <if test="amount != null">#{amount,jdbcType=INTEGER},</if>
            <if test="quantity != null">#{quantity,jdbcType=INTEGER},</if>
            <if test="describe_ != null">#{describe_,jdbcType=VARCHAR},</if>
            <if test="creatTime != null">#{creatTime,jdbcType=TIMESTAMP},</if>
            <if test="status != null">#{status,jdbcType=INTEGER},</if>
            <if test="hide != null">#{hide,jdbcType=INTEGER},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
</mapper>
