<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8 ">
    <title>login</title>


    <script src="../js/jquery.min.js "></script>
    <script src="../js/util.js "></script>
    <script src="../js/jquery.validate.min.js "></script>
    <script src="../js/messages_zh_TW.min.js "></script>
    <base th:href="@{/}">
    <link rel="stylesheet " href="../static/css/output.css ">
    <link rel="stylesheet " th:href="@{/css/output.css}">

</head>

<body class="px-1 mt-1">
    <table style="width: 100%; background-color:orange ; " class="rounded-xl overflow-x-scroll">
        <tr>
            <td class="box-border h-20 w-35  ">
                <img src="../static/img/logo.png" th:src="@{/img/logo.png}" class="object-contain h-32  w-full md:box-content static " />
            </td>
            <td class="object-contain h-30 w-60 min-h-max min-w-max ">
                <img src="../static/img/logo.png" th:src="@{/img/logo.png}" class="object-contain h-32  w-full md:box-content static " />
            </td>
            <td>
                <table class="float-right flex px-2  space-x-20 border-separate">
                    <a href="#" th:ref="@{/index/}" class="px-20">
                        <th class="rounded-lg  bg-blue-400 bg-opacity-60 px-3  text-white shadow-x1 backdrop-blur-md transition-colors duration-300 hover:bg-blue-600 ">首頁</th>
                    </a>
                    <a href="#" th:ref="@{/index/}">
                        <th class="rounded-lg  bg-blue-400 bg-opacity-60 px-3 py-1 text-white shadow-x1 backdrop-blur-md transition-colors duration-300 hover:bg-blue-600">會員資料</th>
                    </a>
                    <a href="#" th:ref="@{/index/}">
                        <th class="rounded-lg bg-blue-400 bg-opacity-60 px-3 py-1 text-white shadow-x1 backdrop-blur-md transition-colors duration-300 hover:bg-blue-600">登陸</th>
                    </a>
                    <a href="#" th:ref="@{/index/}">
                        <th class="rounded-lg bg-blue-400 bg-opacity-60 px-3 py-1 text-white shadow-x1 backdrop-blur-md transition-colors duration-300 hover:bg-blue-600">關於我</th>
                    </a>
                </table>
            </td>
        </tr>
    </table>

    <div class="rounded-xl flex space-x-3  bg-gray-800 bg-opacity-50 px-20 py-20 shadow-lg backdrop-blur-md max-sm:px-8 mt-2">
        <div class="border-4 block border-red-600">a
            <ul>

            </ul>
        </div>
        <div class="border-4 border-red-600">
            <div>1</div>
            <div>2</div>
        </div>


    </div>
</body>

</html>