<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 引入jQuery库文件 -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- 引入Semantic UI库文件 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
<form id="myForm">
    <label for="name">姓名：</label>
    <input type="text" id="name" name="name"><br>

    <label for="age">年龄：</label>
    <input type="text" id="age" name="age"><br>

    <label for="city">城市：</label>
    <input type="text" id="city" name="city"><br>

    <button type="submit" id="add">提交</button>
</form>
</body>
</html>