<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>

    <script type="text/css " src="..\js\menu.js "></script>
    <script src="../js/jquery.min.js "></script>
    <script src="../js/util.js "></script>
    <script src="../js/jquery.validate.min.js "></script>
    <script src="../js/messages_zh_TW.min.js "></script>
    <base th:href="@{/}">
    <link rel="stylesheet " href="../../../static/css/output.css ">
    <link rel="stylesheet " href="/css/output.css ">
</head>
<body>
    <div>ERROR</div>
    <a th:href="@{/login/add}" class="btn btn-info">回到重新註冊頁面</a>
</body>
</html>