<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springdemo.dao.mapper.StoreAdminMapper">

    <resultMap id="BaseResultMap" type="com.example.springdemo.dao.domain.StoreAdmin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="mail" column="mail" jdbcType="VARCHAR"/>
            <result property="mailReview" column="mail_review" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,mail,
        mail_review,status,creat_time,
        remark,update_time
    </sql>
</mapper>
